html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  background-color: #fff;
}

ul,li {
  margin-top: 8px;
}

.is-active {
  background-color: rebeccapurple;
}

.aside {
  display:block;
  background-color: #F9F9F9;
  border-right: 1px solid #DEDEDE;
}

.aside .compose {
  height: 40px;
  margin:0 -10px;
  padding: 10px 30px;
}
.aside .compose .button {
  color: #F6F7F7;
}
.aside .compose .button .compose {
  font-size: 14px;
  font-weight: 700;
}
.aside .main {
  padding: 20px;
  color: #6F7B7E;
}

.module{
  margin-left: 2px;
}

div[class="card"]{
  margin-top: 20px;
  margin-right: 10px;
  padding-left: 20px;
  padding-bottom: 15px;
}


#test{
  margin-left: 10px;
}

