<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CR-Science</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="css/laborato.css">


    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>

<body>


    <div class="columns">
        <!--***************************INCIO DEL SIDEBAR*************************-->

        <aside class="column is-2 aside hero is-fullheight">
            <div>
                <div class="compose has-text-centered">
                    <a class="button is-danger is-block is-bold">
                        <span class="compose">Welcome ${USER}</span>
                    </a>
                </div>

                <div class="main">

                    <p class="menu-label">CR Science Association</p>

                    <ul class="menu-list">
                        <li>
                            <a class="is-active">Seguridad</a>
                        </li>

                        <li>
                            <a class="">Usuarios</a>
                        </li>
                        <li>
                            <a class="">Permisos</a>
                        </li>
                        <li>
                            <a class="">Roles de laboratorio</a>
                        </li>
                        <li>
                            <a class="">Puestos</a>
                        </li>
                        <li>
                            <a class="">Consecutivos</a>
                        </li>
                        <li>
                            <a class="">Tipo de Consecutivos</a>
                        </li>
                        <li>
                            <a class="">Nivel Academico</a>
                        </li>

                    </ul>

                    <br>

                    <ul class="menu-list">
                        <li>
                            <a class="is-active">Administracion</a>
                        </li>

                        <li>
                            <a class="">Ramas Cientificas</a>
                        </li>
                        <li>
                            <a class="">Proyectos</a>
                        </li>
                        <li>
                            <a class="">Bitacoras Cientificas</a>
                        </li>

                    </ul>


                    <ul class="menu-list">
                        <li>
                            <a class="is-active">Consultas</a>
                        </li>

                        <li>
                            <a class="">Bitacora</a>
                        </li>
                        <li>
                            <a class="">Errores</a>
                        </li>
                        <li>
                            <a class="">Descargas</a>
                        </li>

                    </ul>

                </div>
            </div>
        </aside>

        <!--***************************FIN DEL SIDEBAR***************************-->

        <div class="column is-10">

            <!--***************************INCIO DEL SITEMAP**************************-->
            <div class="row">
                <div class="card">
                    <div>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li>
                                    <a>Administracion</a>
                                </li>
                                <li>
                                    <a>Proyectos</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--***************************FIN DEL SITEMAP***************************-->



            <br>

            <!--***************************INICIO DEL MAIN BOX***************************-->
            <div class="columns">

                <div class="column is-5">
                    <a class="button is-dark is-fullwidth" onclick="executeModal()">Agregar</a>
                </div>
                <div class="column is-7">
                    <div class="field">
                        <div class="field">
                            <p class="control">
                                <input id="test" class="input" placeholder="Busque el permiso" type="text">
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <!--***************************INICIO DE LA TABLA***************************-->
            <div class="columns">
                <div class="column is-12">
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Proyecto</th>
                                <th>ID Proyecto</th>
                                <th>Nombre</th>
                                <th>Rama Cientifica</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>1</td>
                                <td>PRO11</td>
                                <td>Investigacion X</td>
                                <td>Biologia </td>
                                <td>
                                    <div class="field is-grouped">
                                        <p class="control">
                                            <a onclick="executeModalView()" class="button is-link">Ver / Editar</a>
                                        </p>
                                        <p class="control">
                                            <a class="button is-danger">
                                                Eliminar
                                            </a>
                                        </p>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
            <!--***************************FIN DE LA TABLA***************************-->

            <!--***************************FIN DEL MAIN BOX***************************-->
        </div>



    </div>



    <!--***************************INICIO DE 1 MODAL Test***************************-->

    <div>
        <div id="NewProject" class="modal" :class="open">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Proyecto</p>
                    <button @click="close()" class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">

                    <div class="control">
                        <label class="label">Creador</label>
                        <input class="input" type="text" placeholder="ctreminion" disabled>
                    </div>

                    <div class="control">
                        <label class="label">Creado en</label>
                        <input class="input" type="text" placeholder="25/Jul/2018" disabled>
                    </div>

                    <div class="field">
                        <label class="label">Nombre de Proyecto</label>
                        <div class="control">
                            <input v-model="name" class="input is-large" type="text" placeholder="Text input">
                            <!--Tiene que ser una variable ese textbox-->
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Descripcion</label>
                        <div class="control">
                            <textarea v-model="desc" class="textarea" placeholder="Descripcion" rows="10"></textarea>
                            <!--Tiene que ser una variable ese textbox-->
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Rama Cientifica</label>
                        <div class="control">
                            <div class="select is-rounded">
                                <select>
                                    <option></option>
                                    <option>Biologia</option>
                                    <option>Quimica</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button id="BTN_Guardar" class="button is-success">Save changes</button>
                    <button @click="close()" id="BTN_Cerrar" class="button is-danger">Cancel</button>
                </footer>
            </div>
        </div>

        <div id="ver" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Proyecto</p>
                    <button onclick="executeModalView()" class="delete" aria-label="close"></button>
                </header>

                <section class="modal-card-body">

                    <div class="control">
                        <label class="label">Creador</label>
                        <input class="input" type="text" placeholder="ctreminion" disabled>
                    </div>

                    <div class="control">
                        <label class="label">Creado en</label>
                        <input class="input" type="text" placeholder="25/Jul/2018" disabled>
                    </div>

                    <div class="field">
                        <label class="label">Nombre de Proyecto</label>
                        <div class="control">
                            <input v-model="name" class="input is-large" type="text" placeholder="Text input">
                            <!--Tiene que ser una variable ese textbox-->
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Descripcion</label>
                        <div class="control">
                            <textarea v-model="desc" class="textarea" placeholder="Descripcion" rows="10"></textarea>
                            <!--Tiene que ser una variable ese textbox-->
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Rama Cientifica</label>
                        <div class="control">
                            <div class="select is-rounded">
                                <select>
                                    <option></option>
                                    <option>Biologia</option>
                                    <option>Quimica</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success">Guardar Cambios</button>
                    <button onclick="executeModalView()" class="button is-danger">Cancelar</button>
                    <button onclick="executeModalAdd()" class="button is-info">Ver/Editar Bitacora</button>
                </footer>

                <div id="add" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Bitacoras</p>
                            <button onclick="executeModalAdd()" class="delete" aria-label="close"></button>
                        </header>

                        <section class="modal-card-body">
                            <div class="columns">
                                <div class="column is-12">
                                    <table class="table is-hoverable is-fullwidth">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Experimento</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Usuario</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>10000</td>
                                                <td>R5</td>
                                                <td>Stefan</td>
                                                <td>von Schroter</td>
                                                <td>svonschroter</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>


                            </div>

                            <div class="field">
                                    <label class="label">Experimento</label>
                                    <div class="control">
                                        <input class="input is-small" type="text" placeholder="Nombre del Experimento">
                                    </div>
                                </div>
                
                                <div class="field">
                                    <label class="label">Usuario</label>
                                    <div class="control">
                                        <input class="input is-small" type="text" placeholder="Nombre del Usuario">
                                    </div>
                                </div>
                
                                <div class="field">
                                    <label class="label">Notas</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Texto"></textarea>
                                    </div>
                                </div>
                
                                <div class="file has-name is-boxed">
                                    <label class="file-label">
                                        <input class="file-input" type="file" name="resume">
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Elejir un archivo
                                            </span>
                                        </span>
                                        <span class="file-name">
                                            Firma.png
                                        </span>
                                    </label>
                                </div>

                        </section>

                        <footer class="modal-card-foot">
                            <button class="button is-success">Agregar</button>
                            <button onclick="executeModalView()" class="button is-danger">Cancelar</button>
                        </footer>

                    </div>
                </div>

                <!--***************************FIN DEL MODAL test***************************-->

                <!--***************************INICIO DE LOS SCRIPTS***************************-->
                <script>
                    function executeModal() {
                        var element = document.getElementById("NewProject");
                        element.classList.toggle("is-active");
                    }

                    function executeModalView() {
                        var element = document.getElementById("ver");
                        element.classList.toggle("is-active");
                    }

                    function executeModalAdd() {
                        var element = document.getElementById("add");
                        element.classList.toggle("is-active");
                    }
                </script>
                <!--***************************FIN DE LOS SCRIPT***************************-->
</body>

</html>